h2{
    font-size: 5rem;
    color: #afe7f1;
    text-aling: center;
    padding: 2ren;
    aling:center;
}
.yo{
    width: 25rem;
    height: auto;
    border-radius: 50%;
    aling: center;
}
